body {
  font-family: serif;
}

.calculator {
  width: 300px;
  margin: 20px auto;
  text-align: center;
}

input {
  width: 90%;
  height: 30px;
  margin-bottom: 10px;
  font-size: 16px;
}

.result {
  height: 25px;
  margin-bottom: 10px;
  font-size: 18px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  height: 50px;
  font-size: 18px;
  border-radius: 10px;
  border: 2px solid #777;
  background: white;
  cursor: pointer;
}
